*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* definindo variaveis */
:root{
    --text-color: rgb(0, 43, 73);
    --bg-url: url(./assets/Padrão\ de\ rep\ dourado.png);
    --stroke-color: rgba(255, 355, 355, 0.5);
    --surface-color: rgba(160, 116, 0, 0.757);
    --surface-color-hover: rgba(0, 0, 0, 0.2);
    --highlight-color: rgba(19, 16, 16, 0.1);
    --switch-bg-url: url(./assets/moon-stars.svg);
}

.light{
    --text-color: rgb(255, 255, 255);
    --bg-url: url(./assets/Padrão\ de\ rep\ Preto.svg);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgb(0, 43, 73);
    --surface-color-hover: rgba(0, 0, 0, 0.241);
    --highlight-color: rgba(0, 0, 0, 0.1);
    --switch-bg-url: url(./assets/sun.svg);
}

body{
    background: var(--bg-url) no-repeat top center/cover;
    /*  
    trasformando o que esta comentado em uma linha de codigo css acima 
    background-image: url(./assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
     */
    height: 100vh;
}

body *{
    font-family: "josefinasans", sans-serif;
    color: var(--text-color);
}

#conteiner{
    width: 360px;
    max-width: 588px;
    margin: 56px auto 0px; /* a definiçao é feita no sentido horario*/
    padding: 0 24px;
}
/* profile */
#profile{
    text-align: center;
    padding: 24px;
}
#profile img{
    width: 112px;    
    border-radius: 5%;
    /* sombra */
    /*box-shadow:
        2.4px -3px 7.2px -2px var(--stroke-color),
        6px -4px 29px -2px  var(--stroke-color),
        12px -5px 80px -2px var(--stroke-color);*/
}
#profile p{
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
}
/* button */
#switch{ /*alinhando o button*/
    position: relative;
    width: 64px;

    margin: 4px auto;
}

#switch button{
    width: 32px;
    height: 32px;
    background: white var(--switch-bg-url) no-repeat center;
    border: 0;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);

    animation: slide-back 0.2s;
}
.light #switch button{
    animation: slide-in 0.2s forwards;
}
#switch button:hover{
    outline: 8px solid var(--highlight-color);
}
#switch span{
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    --webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}



/* Links */

ul{
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 24px 0;
}

ul li a {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 16px 24px;

    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 8px;
    
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    
    text-decoration: none;
    font-weight: 500;
    
    transition: backgroud 0.5s;
}
/* animaçao */
ul li a:hover{
    background: var(--surface-color-hover);
    border: 1.5px solid var(--text-color);
}

/* icons */
#social{
    display: flex;
    justify-content: center;
    
    padding: 24px 0;
    
    font-size: 24px;
}
#social a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    
    background: var(--surface-color);
    transition: backgroud 0.2;
    border-radius: 50%;
    
}

#social a:hover{
    background: var(--highlight-color);
    box-shadow:
        2.4px -3px 7.2px -2px var(--stroke-color),
        6px -4px 29px -2px  var(--stroke-color),
        12px -5px 80px -2px var(--stroke-color);
}

footer{
    padding: 24px 0;
    text-align: center;
    font-size: 14px;
}

/* media queries */
@media (min-width:700px){
    :root{
        --bg-url: url(./assets/Padrão\ de\ rep\ Preto.svg);
    }
    
    .light{
        --bg-url: url(./assets/Padrão\ de\ rep\ dourado.png);
    }
}

@keyframes slide-in{
    from{
        left: 0;
    }
    to{
        left: 50%;
    }
}

@keyframes slide-back{
    from{
        left: 50%;
    }
    to{
        left: 0;
    }
}